.wrapper {
  margin: 40px auto 0 auto;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  color: rgb(84, 135, 255);
}

.timer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 48px;
}
