.wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: white;
  white-space: no-wrap;
  padding-right: 20px;
}

.logo {
  margin: auto 200px auto 20px;
}

.burgerSVG {
  width: 40px;
  transition: transform 0.3s ease;
}

.burgerSVG:hover {
  transform: rotate(90deg);
}

.burgerSVG:hover {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .logo {
    margin: auto 30px auto 20px;
  }
}
