@function bestGradient() {
  $color-start: #003ffc; // Начальный цвет градиента
  $color-end: #bfecff; // Конечный цвет градиента

  $gradient: linear-gradient(to right, $color-start, $color-end);
  @return $gradient;
}

.wrapper {
  background: bestGradient();
  color: white;
  height: 1200px;
  width: 100%;
}
