.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.firstInput {
  display: block;
  margin: 0 auto;
}

.firstInputLabel {
  align-self: center;
  margin: 0 auto;
}
